<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{app.name}}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="../static/js/jquery-2.1.1.min.js"></script>
  <script src="../static/js/main.js"></script>

</head>

<body>
    <div class="container">
            <h1>{{app.name}} <span style="font-size: small;">v{{app.version}}</span></h1>

            <div>
                <fieldset>
                    <legend>Recording</legend>
                    <p>Status: <span id="is_recording">n.a.</span> <button id="start_btn" onclick="start_recording()" disabled>Start</button> <button id="stop_btn" onclick="stop_recording()" disabled>Stop</button>                    </p>
                    <div>
                            <label>FPS: <span id="fps_label">n.a.</span></label>
                            <input id="fps_range" type="range" min="5" max="25" step="1" onchange="change_fps(this.value)">
                    </div>
                </fieldset>   

                <fieldset>
                    <legend>System</legend>
                        <p>CPU temp: <span id="cpu_temp">n.a.</span></p>
                        <p>CPU load: <span id="cpu_load">n.a.</span></p>
                        <p>Memory usage: <span id="mem_use">n.a.</span></p>
                        <p>Disk usage: <span id="disk_use">n.a.</span></p>
                        <br>
                        <button id="halt_btn" onclick="halt()">Shutdown</button>
                        <button id="reboot_btn" onclick="reboot()">Reboot</button>
                        <button id="enable_hotspot_btn" onclick="enable_hotspot()">Reboot</button>
                        <button id="enable_wifi_client_btn" onclick="enable_wifi_client()">Reboot</button>
                </fieldset>
            </div>
    </div>
</body>
</html>