<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{app.name}}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="../static/js/jquery-2.1.1.min.js"></script>
  <script src="../static/js/main.js"></script>

</head>

<body>
    <div class="container">
        <h1>{{app.name}} <span style="font-size: small;">v{{app.version}}</span></h1>
        <h2>Recordings download page</h2>
        <div>
            <ul>
                {% for file in file_list %}
                    <li><a href="/api/recording/{{ file }}">{{ file }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container">
        <a href="/control">Go to Control Panel</a>
    </div>
</body>
</html>